In [1]:
import pandas as pd
from gps_grid_map_creator import GPSGridMapCreator

def getUserId(id):
    val = ""
    if id < 10:
        val += "00"
        val += str(id)
    elif id < 100:
        val += "0"
        val += str(id)
    else:
        val = str(id)
    return val

# Example coordinates
lat1, lon1 = 39.975300, 116.452488  # Lower-left corner
lat2, lon2 = 41.367085, 122.651456  # Upper-right corner
grid_size_meter = 500  # Size of each grid in meters

mapCreator = GPSGridMapCreator(grid_size_meter)
mapCreator.create_grid_map(lat1, lon1, lat2, lon2)
print(mapCreator.find_grid_number(39.99, 117.5))

(2, 114, 39.98715717254236, 117.4918228913047, 1475)

In [100]:
from convert_minmax_location import LocationPreprocessor
import numpy as np
import pandas as pd
from gps_grid_map_creator import GPSGridMapCreator
from sklearn.model_selection import train_test_split

def getUserId(id):
    val = ""
    if id < 10:
        val += "00"
        val += str(id)
    elif id < 100:
        val += "0"
        val += str(id)
    else:
        val = str(id)
    return val

locationPreprocessor = LocationPreprocessor()
valid_user_list = locationPreprocessor.get_valid_user_list()
user_id_list = []
grid_len_list = []
gps_len_list = []

lat1, lon1 = 39.975300, 116.452488  # Lower-left corner
lat2, lon2 = 41.367085, 122.651456  # Upper-right corner
grid_csv = '_grid.csv'
# grid_number = "grid_number_" + str(grid_size_meter)
grid_list = [50, 100, 500, 1000, 1500, 2000]

user_df = pd.DataFrame()
for id in valid_user_list['valid_user_list']:
    print(f"user_id: {id}")
    id = 68
    user_id = locationPreprocessor.getUserId(id)
    # csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    grid_file = './Data/' + user_id + '/csv/' + user_id + grid_csv
    user_df = pd.read_csv(csv_file)
    user_df = user_df.drop_duplicates(subset=['days'])
    user_df = locationPreprocessor.convert_coord_for_blender_for_user(user_df)
   
    user_df['datetime'] = pd.to_datetime(user_df['date'] + " " + user_df['time'])
    user_df['year'] = user_df['datetime'].dt.year
    user_df['month'] = user_df['datetime'].dt.month
    user_df['week'] = user_df['datetime'].dt.weekday
    # user_df['weekend'] = np.where(user_df['week'] < 5, 0, 1)
    user_df['hour'] = user_df['datetime'].dt.hour
    user_df['day'] = user_df['datetime'].dt.day
    
    user_df = user_df.drop(columns=['altitude', 'time', 'what'])
    # user_df = pd.get_dummies(user_df, columns=['month', 'week', 'hour'], drop_first=True)

    for grid_len in grid_list:
        mapCreator = GPSGridMapCreator(grid_len)
        mapCreator.create_grid_map(lat1, lon1, lat2, lon2)
        grid_row = 'grid_row_' + str(grid_len) + 'm' # row
        grid_col = 'grid_col_' + str(grid_len) + 'm' # column
        grid_lat = 'grid_lat_' + str(grid_len) + 'm' # lat
        grid_lon = 'grid_lon_' + str(grid_len) + 'm' # lon
        grid_num = 'grid_num_' + str(grid_len) + 'm' # num
        
        # user_df[grid_row], user_df[grid_col], user_df[grid_lat], user_df[grid_lon], user_df[grid_num] = mapCreator.find_grid_number(user_df['latitude'], user_df['longitude'])
        user_df[grid_row], user_df[grid_col],_,_,_ = mapCreator.find_grid_number(user_df['latitude'], user_df['longitude'])
     
        # if grid_len == 1000:
        #     user_df = pd.get_dummies(user_df, columns=[grid_row, grid_col], drop_first = True)
        # print(user_df[grid_number].nunique())
    train_len = round(user_df.shape[0] * 0.7)
    valid_len = round(user_df.shape[0] * 0.2)
    
    train_set = user_df.iloc[:train_len, :]
    valid_set = user_df.iloc[train_len:train_len + valid_len, :]
    test_set = user_df.iloc[train_len + valid_len:, :]
    
    print(train_set.shape[0]/12)
    print(valid_set.shape[0]/12)
    print(test_set.shape[0]/12)
    print(train_set['datetime'].head(1))
    print(train_set['datetime'].tail(1))
    # print((train_set['min']).unique())
    break
    train_file = './Data/' + user_id + '/csv/' + user_id + '_train_set.csv'
    valid_file = './Data/' + user_id + '/csv/' + user_id + '_valid_set.csv'
    test_file = './Data/' + user_id + '/csv/' + user_id + '_test_set.csv'
    
    train_set.to_csv(train_file, index=False)
    valid_set.to_csv(valid_file, index=False)
    test_set.to_csv(test_file, index=False)
    break
    # print(user_df.head())
    # break
    # user_id_list += [user_id]
    # grid_len_list += [user_df[grid_number].nunique()]
    # gps_len_list += [user_df.shape[0]]
    # user_df.to_csv(grid_file, index=False)


# user_grid_df = pd.DataFrame({'user_id':user_id_list,
#                              grid_number:grid_len_list,
#                              'gps_len':gps_len_list})
# user_grid_df.head()

user_id: 0
54709.416666666664
15631.25
7815.666666666667
0   2008-09-14 13:03:08
Name: datetime, dtype: datetime64[ns]
656512   2009-07-06 08:22:15
Name: datetime, dtype: datetime64[ns]

In [126]:
from convert_minmax_location import LocationPreprocessor

locationPreprocessor = LocationPreprocessor()
id = 68

gap = 10
round_min = str(gap) + 'min'
round_sec = str(gap) + 's'
round_time = round_sec

user_id = locationPreprocessor.getUserId(id)
csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
df = pd.read_csv(csv_file)
df['datetime'] = pd.to_datetime(df['date'] + " " + df['time'])
df['datetime'] = df['datetime'].dt.round(round_time)

df = df.set_index('datetime').reset_index()
user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

# 시간 간격 계산
user_df['time_diff'] = user_df['datetime'].diff()

# 1분 이상인 경우 세그먼트로 분류
threshold = pd.Timedelta(minutes=1)
user_df['segment'] = (user_df['time_diff'] > threshold).cumsum()

user_df.head()

/tmp/ipykernel_395/1645927842.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

,datetime,latitude,longitude,what,altitude,days,time_diff,segment
0,2008-09-14 13:03:10,39.972909,116.418298,0.0,0.0,39705.543872,NaT,0
1,2008-09-14 13:03:20,39.972922,116.418236,0.0,0.0,39705.543987,0 days 00:00:10,0
2,2008-09-14 13:03:30,39.972791,116.418186,0.0,0.0,39705.544103,0 days 00:00:10,0
3,2008-09-14 13:03:40,39.972548,116.418203,0.0,0.0,39705.544219,0 days 00:00:10,0
4,2008-09-14 13:03:50,39.972287,116.418196,0.0,0.0,39705.544334,0 days 00:00:10,0

In [144]:
# 세그먼트별 시작 시간과 끝 시간 추출
segment_info = user_df.groupby('segment')['datetime'].agg(['min', 'max'])
segment_info = segment_info.reset_index()
segment_info['time_gap'] = segment_info['max'] - segment_info['min']
segment_info['over_10min'] = segment_info['time_gap'] >= pd.Timedelta(minutes=10)
segment_info = segment_info.loc[segment_info['over_10min'] == True, :]
segment_info
# 8분의 data를 input 으로 넣고, 2분의 data를 output 으로 내는 ?
# or 5분의 data를 input 으로 넣고, 5분의 data를 output으로 내는?

,segment,min,max,time_gap,over_10min
0,0,2008-09-14 13:03:10,2008-09-14 13:13:10,0 days 00:10:00,True
6,6,2008-09-15 02:37:30,2008-09-15 03:18:10,0 days 00:40:40,True
8,8,2008-09-15 03:48:30,2008-09-15 04:03:00,0 days 00:14:30,True
11,11,2008-09-15 04:24:30,2008-09-15 04:38:50,0 days 00:14:20,True
12,12,2008-09-15 05:33:30,2008-09-15 05:45:30,0 days 00:12:00,True
...,...,...,...,...,...
3843,3843,2009-09-13 06:50:50,2009-09-13 07:04:00,0 days 00:13:10,True
3844,3844,2009-09-13 08:09:50,2009-09-13 08:24:30,0 days 00:14:40,True
3845,3845,2009-09-13 08:26:30,2009-09-13 09:03:40,0 days 00:37:10,True
3847,3847,2009-09-13 11:52:30,2009-09-13 12:19:40,0 days 00:27:10,True
3850,3850,2009-09-13 12:41:00,2009-09-13 12:51:20,0 days 00:10:20,True

In [184]:
data = user_df.loc[user_df['segment'] == 0, :'days']
time_delta = data['datetime'][0] + pd.Timedelta(minutes=5)
input_data = data.loc[data['datetime'] < time_delta, :]
output_data = data.loc[data['datetime'] > time_delta, :]

input_data = input_data[['days', 'latitude', 'longitude']]
output_data = output_data[['latitude', 'longitude']]

input_data.info()
output_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   days       30 non-null     float64
 1   latitude   30 non-null     float64
 2   longitude  30 non-null     float64
dtypes: float64(3)
memory usage: 960.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 31 to 60
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   30 non-null     float64
 1   longitude  30 non-null     float64
dtypes: float64(2)
memory usage: 720.0 bytes

In [203]:
data = user_df.loc[user_df['segment'] == 0, :'days']
time_delta = data['datetime'][0] + pd.Timedelta(minutes=9)
input_data = data.loc[data['datetime'] < time_delta, :]
output_data = data.loc[data['datetime'] > time_delta, :]

input_data = input_data[['days', 'latitude', 'longitude']].astype(float)
output_data = output_data[['latitude', 'longitude']].astype(float)

import torch
import torch.nn as nn
import torch.optim as optim

input_data = torch.tensor(input_data.values, dtype=torch.float32)
target_data = torch.tensor(output_data.values, dtype=torch.float32)

class MLP(nn.Module):
    def __init__(self, input_shape, output_shape):
        super(MLP, self).__init__()
        self.input_shape = input_shape[0] * input_shape[1]
        
        self.final_shape = output_shape
        self.output_shape = output_shape[0] * output_shape[1]
        print(f"input_size: {self.input_shape}")
        print(f"output_size: {self.output_shape}")

        self.fc1 = nn.Linear(self.input_shape, 64)
        self.fc2 = nn.Linear(64, 64)
        self.fc3 = nn.Linear(64, self.output_shape)
        
    def forward(self, x):
        in_shape_new = [-1]
        x = torch.reshape(x, in_shape_new)
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc3(x)
        
        # out_shape = torch._shape_as_tensor(x)
        # out_shape_new = out_shape[:-1].tolist() + [-1] + [self.output_shape[1]]
        out = torch.reshape(x, self.final_shape)
        return out

model = MLP([input_data.shape[0], input_data.shape[1]], [target_data.shape[0], target_data.shape[1]])

criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr = 0.001)

for epoch in range(1000):
    optimizer.zero_grad()
    output = model(input_data)
    loss = criterion(output, target_data)
    loss.backward()
    optimizer.step()

from sklearn.metrics import mean_squared_error as mse
# 예측
with torch.no_grad():
    predicted = model(input_data)
    loss = mse(y_true=target_data, y_pred=predicted)
    print("target latitude, longitude:", target_data)
    print("Predicted latitude, longitude:", predicted)
    print(f'loss: {loss}')

input_size: 162
output_size: 12
target latitude, longitude: tensor([[ 39.9688, 116.4196],
        [ 39.9687, 116.4196],
        [ 39.9688, 116.4196],
        [ 39.9690, 116.4198],
        [ 39.9689, 116.4198],
        [ 39.9688, 116.4199]])
Predicted latitude, longitude: tensor([[ 39.9692, 116.4209],
        [ 39.9686, 116.4202],
        [ 39.9681, 116.4204],
        [ 39.9695, 116.4201],
        [ 39.9685, 116.4200],
        [ 39.9703, 116.4200]])
loss: 4.957073542755097e-07

In [119]:
segment = user_df['segment'].unique()
user_df.groupby('segment')['what'].value_counts() > 20

# user_df.loc[user_df['segment'] == segment[3], :]

# 39.968885	116.419843
# 39.969592	116.418630

segment  what
0        0.0      True
182      0.0     False
193      0.0     False
200      0.0     False
207      0.0     False
                 ...
980204   0.0     False
980214   0.0      True
980218   0.0     False
980228   0.0      True
980229   0.0      True
Name: what, Length: 4041, dtype: bool

In [ ]:
user_df.head()

In [60]:
import numpy as np
df = user_df.copy()
df = df.fillna(np.nan)
if str(df.iloc[11, -2]) == 'nan':
    print('true')
else:
    print('false')

true

In [107]:
# csv 파일 5분 단위로 전처리하기 (rounded)
# round_min 을 조절하여 round_min 간격으로 data를 전처리

from convert_minmax_location import LocationPreprocessor
from gps_grid_map_creator import GPSGridMapCreator
import numpy as np
import pandas as pd

def getUserId(id):
    val = ""
    if id < 10:
        val += "00"
        val += str(id)
    elif id < 100:
        val += "0"
        val += str(id)
    else:
        val = str(id)
    return val

locationPreprocessor = LocationPreprocessor()
valid_user_list = locationPreprocessor.get_valid_user_list()

days_min = 0.000696
gap = 10
round_min = str(gap) + 'min'

lat1, lon1 = 39.975300, 116.452488  # Lower-left corner
lat2, lon2 = 41.367085, 122.651456  # Upper-right corner

# origin_grid_10min = just add grid in original csv file
# grid_10min        = from begin to end full data with fillna(ffill)
round_csv = '_origin_round_' + round_min + '.csv'
grid_csv = '_origin_grid_' + round_min + '.csv'
grid_list = [50, 100, 500, 1000, 1500, 2000, 3000]

for id in valid_user_list['valid_user_list']:
    print(f"user_id: {id}")
    user_id = locationPreprocessor.getUserId(id)
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    rounded_file = './Data/' + user_id + '/csv/' + user_id + round_csv
    grid_file = './Data/' + user_id + '/csv/' + user_id + grid_csv

    df = pd.read_csv(csv_file)
    print(df.shape)
    df['datetime'] = pd.to_datetime(df['date'] + " " + df['time'])
    df['datetime'] = df['datetime'].dt.round(round_min)

    df = df.set_index('datetime').reset_index()
    user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
    user_df = locationPreprocessor.convert_coord_for_blender_for_user(user_df)

    user_df['datetime'] = pd.to_datetime(user_df['datetime'])
    
    # begin = user_df['datetime'][0]
    # end = user_df['datetime'][user_df.shape[0]-1]

    # print(f'begin: {begin}')
    # print(f'end: {end}')

    # date_df = pd.DataFrame({'datetime':pd.date_range(begin, end, freq=round_min)})
    # user_df = pd.merge(date_df, user_df, how='outer', on='datetime')
    
    # # add days 
    # start_days = user_df['days'][0]
    # end_days = start_days + (date_df.shape[0] * (days_min * gap))
    # days_list = np.arange(start_days, end_days, (days_min * gap))

    # user_df['days'] = days_list[:user_df.shape[0]]
    user_df['year'] = user_df['datetime'].dt.year
    user_df['month'] = user_df['datetime'].dt.month
    user_df['week'] = user_df['datetime'].dt.weekday
    user_df['weekend'] = np.where(user_df['week'] < 5, 0, 1)
    user_df['hour'] = user_df['datetime'].dt.hour
    user_df['day'] = user_df['datetime'].dt.day
    # user_df = user_df.fillna(method='ffill')

    # save rounded file
    user_df.to_csv(rounded_file, index=False)

    # grid process
    user_df = user_df.drop(columns=['datetime', 'altitude', 'what'])
    for grid_len in grid_list:
        mapCreator = GPSGridMapCreator(grid_len)
        mapCreator.create_grid_map(lat1, lon1, lat2, lon2)
        grid_row = 'grid_row_' + str(grid_len) + 'm' # row
        grid_col = 'grid_col_' + str(grid_len) + 'm' # column
        grid_lat = 'grid_lat_' + str(grid_len) + 'm' # lat
        grid_lon = 'grid_lon_' + str(grid_len) + 'm' # lon
        grid_num = 'grid_num_' + str(grid_len) + 'm' # num      
        user_df[grid_row], user_df[grid_col],_,_,_ = mapCreator.find_grid_number(user_df['latitude'], user_df['longitude'])
    # save grid file
    user_df.to_csv(grid_file, index=False)
    
    # process one single user train, validation
    # train_len = round(user_df.shape[0] * 0.7)
    # valid_len = round(user_df.shape[0] * 0.3)
    
    # train_set = user_df.iloc[:train_len, :]
    # valid_set = user_df.iloc[train_len:, :]
    # # test_set = user_df.iloc[train_len + valid_len:, :]
    
    # train_file = './Data/' + user_id + '/csv/' + user_id + '_origin_train_set.csv'
    # valid_file = './Data/' + user_id + '/csv/' + user_id + '_origin_valid_set.csv'
    # # test_file = './Data/' + user_id + '/csv/' + user_id + '_test_set.csv'
    
    # train_set.to_csv(train_file, index=False)
    # valid_set.to_csv(valid_file, index=False)
    # # test_set.to_csv(test_file, index=False)
    # break

user_id: 0
(173870, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 1
(108607, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 3
(485226, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 4
(439397, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 5
(109046, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 6
(31830, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 7
(87217, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 8
(77910, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 9
(84616, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 11
(90803, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 13
(291182, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 14
(388213, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 15
(87736, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 16
(89272, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 18
(47279, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 19
(47824, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 21
(2385, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 24
(263482, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 26
(148411, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 27
(15508, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 29
(83844, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 30
(615948, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 31
(20412, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 32
(26468, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 33
(69974, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 34
(166670, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 35
(312042, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 36
(251973, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 37
(191324, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 38
(250393, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 39
(267737, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 40
(56013, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 43
(96246, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 44
(76846, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 45
(9743, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 46
(21818, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 47
(790, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 48
(9076, 7)
user_id: 49
(2614, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 50
(336859, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 51
(17019, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 54
(4780, 7)
user_id: 55

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(37786, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 56
(4004, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 57
(2794, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 58
(24769, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 59
(23606, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 61
(2800, 7)
user_id: 63
(12490, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 64
(58754, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 65
(426101, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 66
(61020, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 67
(394329, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 68
(937876, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 69
(16469, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 70
(35311, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 73
(43135, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 74
(175698, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 75
(37549, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 76
(961, 7)
user_id: 77
(3144, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 78
(75509, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 79
(11243, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 80
(711, 7)
user_id: 81
(44252, 7)
user_id: 85

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(601871, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 86
(561, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 88
(27030, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 93
(8898, 7)
user_id: 94
(2794, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 95
(45559, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 96
(231088, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 97
(1554, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 98
(813, 7)
user_id: 100

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(6257, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 101
(13738, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 102
(6678, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 103
(36576, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 104
(38572, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 105
(1977, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 106
(1985, 7)
user_id: 109
(595, 7)
user_id: 110
(5520, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 112
(90565, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 113
(24531, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 114
(12332, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 116
(2514, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 119
(103734, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 121
(5367, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 122
(72115, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 125
(96522, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 129
(16338, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 130
(42640, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 131
(57587, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 133
(7256, 7)
user_id: 134
(4158, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 135
(84424, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 136
(1306, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 137
(14245, 7)
user_id: 138
(2351, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 141
(314134, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 143
(3021, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 145
(9907, 7)
user_id: 147

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(33891, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 148
(41830, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 149
(8448, 7)
user_id: 150
(2794, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 151
(1322, 7)
user_id: 152
(9784, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 154
(2928, 7)
user_id: 155
(41591, 7)
user_id: 156

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(16277, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 157
(2500, 7)
user_id: 158
(6010, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 159
(38744, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 161
(799, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 165
(130890, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 166
(1360, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 169
(48321, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 170
(4377, 7)
user_id: 173
(970, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 174
(7305, 7)
user_id: 177

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

(2955, 7)
user_id: 179
(169396, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 180
(47166, 7)

/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()
/tmp/ipykernel_688/246536034.py:50: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  user_df = df.groupby('datetime')[df.columns[1:].to_list()].mean().reset_index()

user_id: 181
(687, 7)

In [114]:
user_id = '035'
grid_file = './Data/' + user_id + '/csv/' + user_id + grid_csv

df = pd.read_csv(grid_file)
df.iloc[:10, 11:20]

,grid_row_50m,grid_col_50m,grid_row_100m,grid_col_100m,grid_row_500m,grid_col_500m,grid_row_1000m,grid_col_1000m,grid_row_1500m
0,17,139,8,69,1,13,0,6,0
1,25,134,12,67,2,13,1,6,0
2,25,134,12,67,2,13,1,6,0
3,34,147,17,73,3,14,1,7,1
4,65,163,32,81,6,16,3,8,2
5,64,171,32,85,6,17,3,8,2
6,64,170,32,85,6,17,3,8,2
7,60,160,30,80,6,16,3,8,2
8,17,149,8,74,1,14,0,7,0
9,20,145,10,72,2,14,1,7,0

In [ ]:
# grid.csv 파일의 column 확인 코드
import pandas as pd

user_id = '067'

gap = 10
round_min = str(gap) + 'min'
grid_csv = '_grid_' + round_min + '.csv'
grid_file = './Data/' + user_id + '/csv/' + user_id + grid_csv

train_file = './Data/' + user_id + '/csv/' + user_id + '_train_set.csv'
valid_file = './Data/' + user_id + '/csv/' + user_id + '_valid_set.csv'
test_file = './Data/' + user_id + '/csv/' + user_id + '_test_set.csv'

df = pd.read_csv(grid_file)
print(df.info())
# print(df.tail())

# columns = df.loc[:, :'grid_col_50m'].columns.to_list() #df.columns[:'grid_col_50m'].to_list() #+ df.columns[58:60].to_list()
columns = df.columns[2:11].to_list() #+ df.columns[15:17].to_list()
df_1 = df[columns].copy()
df_1 = pd.get_dummies(df_1, columns=['hour'], drop_first=True)
df_1 = pd.concat([df_1, df.iloc[:, 15:17]], axis=1)
print(df_1.columns)
print(df_1.tail())

df_train = pd.read_csv(train_file)
df_valid = pd.read_csv(valid_file)
df_test = pd.read_csv(test_file)

print(f"train: {df_train.shape[0]}")
print(f"valid: {df_valid.shape[0]}")
print(f"test: {df_test.shape[0]}")

In [80]:
from convert_minmax_location import LocationPreprocessor
import numpy as np

locationPreprocessor = LocationPreprocessor()
valid_user_list = locationPreprocessor.get_valid_user_list()
user_id_list = []
df_len_list = []
ori_len_list = []
begin_day_list = []
end_day_list = []
for id in valid_user_list['valid_user_list']:
    print(f"user_id: {id}")
    user_id = locationPreprocessor.getUserId(id)
    csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_origin_round_10min.csv'
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    user_df = pd.read_csv(csv_convert_file)
    orig_df = pd.read_csv(csv_file)
    orig_df['datetime'] = pd.to_datetime(orig_df['date'] + " " + orig_df['time'])

    user_id_list += [user_id]
    df_len_list += [user_df.shape[0]]
    ori_len_list += [orig_df.shape[0]]

    begin_day_list += [orig_df.iloc[0, -1]]
    end_day_list += [orig_df.iloc[-1, -1]]

user_df = pd.DataFrame({'user_id':user_id_list,
                        'begin_date':begin_day_list,
                        'end_date':end_day_list,
                        'original_len':ori_len_list,
                        'rounded_len':df_len_list})
user_df.head(5)

user_id: 0
user_id: 1
user_id: 3
user_id: 4
user_id: 5
user_id: 6
user_id: 7
user_id: 8
user_id: 9
user_id: 11
user_id: 13
user_id: 14
user_id: 15
user_id: 16
user_id: 18
user_id: 19
user_id: 21
user_id: 24
user_id: 26
user_id: 27
user_id: 29
user_id: 30
user_id: 31
user_id: 32
user_id: 33
user_id: 34
user_id: 35
user_id: 36
user_id: 37
user_id: 38
user_id: 39
user_id: 40
user_id: 43
user_id: 44
user_id: 45
user_id: 46
user_id: 47
user_id: 48
user_id: 49
user_id: 50
user_id: 51
user_id: 54
user_id: 55
user_id: 56
user_id: 57
user_id: 58
user_id: 59
user_id: 61
user_id: 63
user_id: 64
user_id: 65
user_id: 66
user_id: 67
user_id: 68
user_id: 69
user_id: 70
user_id: 73
user_id: 74
user_id: 75
user_id: 76
user_id: 77
user_id: 78
user_id: 79
user_id: 80
user_id: 81
user_id: 85
user_id: 86
user_id: 88
user_id: 93
user_id: 94
user_id: 95
user_id: 96
user_id: 97
user_id: 98
user_id: 100
user_id: 101
user_id: 102
user_id: 103
user_id: 104
user_id: 105
user_id: 106
user_id: 109
user_id: 110
user_id: 112
user_id: 113
user_id: 114
user_id: 116
user_id: 119
user_id: 121
user_id: 122
user_id: 125
user_id: 129
user_id: 130
user_id: 131
user_id: 133
user_id: 134
user_id: 135
user_id: 136
user_id: 137
user_id: 138
user_id: 141
user_id: 143
user_id: 145
user_id: 147
user_id: 148
user_id: 149
user_id: 150
user_id: 151
user_id: 152
user_id: 154
user_id: 155
user_id: 156
user_id: 157
user_id: 158
user_id: 159
user_id: 161
user_id: 165
user_id: 166
user_id: 169
user_id: 170
user_id: 173
user_id: 174
user_id: 177
user_id: 179
user_id: 180
user_id: 181

  user_id          begin_date            end_date  original_len  rounded_len
0     000 2008-10-23 02:53:04 2009-07-05 07:45:15        173870         2286
1     001 2008-10-23 05:53:05 2008-12-15 00:31:18        108607          940
2     003 2008-10-23 17:58:54 2009-07-05 07:45:15        485226         5969
3     004 2008-10-23 17:58:52 2009-07-29 06:16:11        439397         5671
4     005 2008-10-24 04:12:30 2009-03-19 05:46:37        109046         1249

In [102]:
import pandas as pd

# 100 일 이상 좌표 수집한 user 45명
# user_df.to_csv('origin_round_10min_user_list.csv', index=False)

df_1 = pd.read_csv('origin_round_10min_user_list.csv')
df = pd.read_csv('round_10min_user_list.csv')

df = df.merge(df_1, how='inner', on = 'user_id')
df = df.loc[df['rounded_len_y'] > 2000, :]
df['extra_ratio'] = round(df['rounded_len_x'] / df['rounded_len_y'], 1)

df = df.sort_values(['extra_ratio'], ascending=True)

df = df.rename(columns = {'rounded_len_y':'rounded_10min_len',
                          'rounded_len_x':'date_rounded',
                          'original_len_x':'original_len'})
df = df[['user_id','begin_date','end_date','date_rounded','original_len', 'rounded_10min_len', 'extra_ratio']]
df.head()
df.to_csv('extra_ratio.csv', index=False)

# df = df.loc[df['rounded_len'] >= 14400, :]
# df['user_id'].to_list()
# df.head(20)
# df.sort_values('rounded_len', ascending=False)
# ['068', '030', '085', '003', '004']","['065', '067']"

In [103]:
import pandas as pd
user = pd.read_csv('extra_ratio.csv')
user.head(10)
# user = user.sort_values('original_len', ascending=False)
# user = user[['user_id', 'original_len', 'extra_rounded', 'rounded_10min', 'extra_ratio']]
# user.rename(columns={'extra_rounded':'rounded_10min',
#                      'rounded_10min':'rounded_len'})

,user_id,begin_date,end_date,date_rounded,original_len,rounded_10min_len,extra_ratio
0,35,2009-02-09 10:48:38,2009-04-27 06:14:45,11061,312042,3162,3.5
1,3,2008-10-23 17:58:54,2009-07-05 07:45:15,36660,485226,5969,6.1
2,30,2009-01-13 02:32:22,2009-07-29 01:40:07,28364,615948,4320,6.6
3,4,2008-10-23 17:58:52,2009-07-29 06:16:11,40107,439397,5671,7.1
4,39,2009-02-11 09:59:38,2009-07-15 00:56:11,22123,267737,3098,7.1
5,24,2008-12-16 01:00:33,2009-05-26 10:51:12,23244,263482,2648,8.8
6,68,2008-09-14 13:03:08,2009-09-13 12:51:15,52416,937876,5073,10.3
7,38,2009-02-06 12:11:02,2009-07-23 18:13:12,24085,250393,2069,11.6
8,14,2008-10-20 05:45:00,2009-04-17 01:50:18,25754,388213,2136,12.1
9,0,2008-10-23 02:53:04,2009-07-05 07:45:15,36751,173870,2286,16.1

In [ ]:
import pandas as pd

user_id = '085'
csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
user_df = pd.read_csv(csv_convert_file)
user_df.head(1)

# user_df = user_df[['days','month','week','weekend','hour','day','x','y']]
# user_df = pd.get_dummies(user_df, columns=['week','month'], drop_first=True)
# user_xy = user_df.loc[:, ['x', 'y']]
# user_df = user_df.drop(columns=['x', 'y'])
# pd.concat([user_df, user_xy], axis=1)

df_1 = user_df[['days','month','week','weekend','hour','day','x','y']]
df_1 = pd.get_dummies(df_1, columns=['week','month'], drop_first=True)
df_xy = df_1.loc[:, ['x', 'y']]
df_1 = df_1.drop(columns=['x', 'y'])
df_1 = pd.concat([df_1, df_xy], axis=1)
df_1.head(1)

In [ ]:
user_df = pd.DataFrame({"user_id":user_id_list,
                        "data_vol":df_len_list})
user_df = user_df.sort_values(['data_vol'], ascending=False)
user_df.to_csv('user_data_volumn.csv', index=False)

print(user_df.head(5))
user_df.iloc[:5, 0].to_list()

In [ ]:
sample_s = 1
sample_q = 1

args_epoch = 1200
args_patience = 300

gap_min = 12 # 1 min
gap = gap_min

y_timestep = 100 # must be less than length
length = 15000

train_list      = ['068', '030', '085', '004']#, '085']
validation_list = ['067']#, '085']
test_list       = ['067']#, '085']

conf_df = pd.DataFrame({'sample_s':[sample_s],
                        'sample_q':[sample_q],
                        'epoch':[args_epoch],
                        'patience':[args_patience],
                        'gap':[gap],
                        'y_timestep':[y_timestep],
                        'length':[length],
                        'train_list':[train_list],
                        'val_list':[validation_list],
                        'test_list':[test_list]})
conf_df

In [ ]:
user_df.loc[user_df['user_id'] == '001']

In [ ]:
user_location_df_pre = user_location_df.copy()
user_location_df_pre = user_location_df_pre.set_index('user_id', drop=True).copy()
user_location_df_pre.head(2)

X = ['min_lat', 'min_lon', 'max_lat', 'max_lon']
q1 = user_location_df_pre[X].quantile(0.25)
q3 = user_location_df_pre[X].quantile(0.75)
iqr = (q3-q1) * 1.5

cond1 = user_location_df_pre[X] >= (q1 - iqr)
user_location_df_pre = user_location_df_pre[cond1].dropna().copy()
print(user_location_df_pre.shape)

cond2 = user_location_df_pre[X] <= (q3 + iqr)
user_location_df_pre = user_location_df_pre[cond2].dropna().copy()
print(user_location_df_pre.shape)
user_location_df_pre.min()
user_location_df_pre.max()

In [ ]:
import math

PI = 3.14159265358979323846

def distance(lat1, lon1, lat2, lon2, unit):
    deg2rad_multiplier = PI / 180
    lat1 = lat1 * deg2rad_multiplier
    lon1 = lon1 * deg2rad_multiplier
    lat2 = lat2 * deg2rad_multiplier
    lon2 = lon2 * deg2rad_multiplier

    radius = 6378.137  # Earth mean radius defined by WGS84
    dlon = lon2 - lon1
    distance = math.acos(math.sin(lat1) * math.sin(lat2) + math.cos(lat1) * math.cos(lat2) * math.cos(dlon)) * radius
    
    # (kilometers, miles, nautical miles)
    if unit == 'K':
        return distance
    elif unit == 'M':
        return distance * 0.621371192
    elif unit == 'N':
        return distance * 0.539956803
    else:
        return 0

# Example usage:
result = distance(37.7749, -122.4194, 34.0522, -118.2437, 'K') * 1000
print(result)

In [ ]:
min_lat = 39.975300
min_lon = 116.452488
max_lat = 41.367085
max_lon = 122.651456

width = round(distance(39.975300, 122.651456, 41.367085, 122.651456, 'K'), 3)
height = round(distance(41.367085, 116.452488, 41.367085, 122.651456, 'K'), 3)
print(width)
print(height)
# up_width = 154.933
# down_width = 154.933
# left_height = 528.706
# right_hegith = 517.778

In [ ]:
import numpy as np
import pandas as pd

class GPSGridMapCreator():
    def __init__(self, grid_size_meter):
        self.grid_size_meter = grid_size_meter
        self.lat1 = 0
        self.lon1 = 0
        self.grid_numbers = 0
        self.lat_degrees = 0
        self.long_degrees = 0
        self.num_lat = 0
        self.num_lon = 0
        
    def km_to_degrees(self, latitude, kilometers):
        # Earth's radius in kilometers
        earth_radius_km = 6371.0

        # Convert kilometers to radians
        angle_rad = kilometers / earth_radius_km

        # Convert radians to degrees
        angle_deg = np.degrees(angle_rad)

        # Correction factor for latitude
        lat_correction = np.cos(np.radians(latitude))

        # Convert degrees to adjusted degrees
        adjusted_degrees = angle_deg / lat_correction

        return adjusted_degrees

    def meter_to_degrees(self, latitude, meters):
        # Convert meters to kilometers
        kilometers = meters / 1000

        # Convert kilometers to degrees using the km_to_degrees function
        degrees = self.km_to_degrees(latitude, kilometers)

        return degrees

    def create_grid_map(self, lat1, lon1, lat2, lon2):
        self.lat1 = lat1
        self.lon1 = lon1
        # Convert grid size from meters to degrees
        self.lat_degrees = self.meter_to_degrees((lat1 + lat2) / 2, self.grid_size_meter)
        self.lon_degrees = self.meter_to_degrees((lon1 + lon2) / 2, self.grid_size_meter)

        # print(f"lat_degrees: {self.lat_degrees}, lon_degree: {self.lon_degrees}")
        # Calculate the number of grid points in latitude and longitude directions
        self.num_lat = int(np.abs(lat2 - lat1) / np.abs(self.lat_degrees))
        self.num_lon = int(np.abs(lon2 - lon1) / np.abs(self.lon_degrees))
        # print(f"lon2 - lon1: {np.abs(lon2 - lon1)}")
        # print(f"num_lat: {self.num_lat}, num_lon: {self.num_lon}")

        # Generate latitude and longitude grid points
        latitudes = np.linspace(lat1, lat2, self.num_lat)
        longitudes = np.linspace(lon1, lon2, self.num_lon)

        # print(f"the num of latitudes: {len(latitudes)}")
        # print(f"the num of longitude: {len(longitudes)}")
        # print(latitudes)
        # print(longitudes)
        # Create a 2D grid for numbering
        self.grid_numbers = np.arange(0, (self.num_lat + 1) * (self.num_lon + 1)).reshape(self.num_lat + 1, self.num_lon + 1)
        print(f"gird_number: {self.grid_numbers.shape[0] * self.grid_numbers.shape[1]}")

    def find_grid_number(self, lat, lon):
        grid_lat = int((lat - self.lat1) / np.abs(self.lat_degrees))
        grid_lon = int((lon - self.lon1) / np.abs(self.lon_degrees))
        gird_number = grid_lat * (self.num_lon + 1) + grid_lon + 1
        return gird_number, grid_lat, grid_lon

# Example coordinates
lat1, lon1 = 39.975300, 116.452488  # Lower-left corner
lat2, lon2 = 41.367085, 122.651456  # Upper-right corner
grid_size_meter = 100  # Size of each grid in meters

mapCreator = GPSGridMapCreator(grid_size_meter)
mapCreator.create_grid_map(lat1, lon1, lat2, lon2)
print(mapCreator.find_grid_number(39.99, 117.5))
print("done")
# 3991600
# 15966400

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs

def km_to_degrees(latitude, kilometers):
    # Earth's radius in kilometers
    earth_radius_km = 6371.0

    # Convert kilometers to radians
    angle_rad = kilometers / earth_radius_km

    # Convert radians to degrees
    angle_deg = np.degrees(angle_rad)

    # Correction factor for latitude
    lat_correction = np.cos(np.radians(latitude))

    # Convert degrees to adjusted degrees
    adjusted_degrees = angle_deg / lat_correction

    return adjusted_degrees

def meter_to_degrees(latitude, meters):
    # Convert meters to kilometers
    kilometers = meters / 1000

    # Convert kilometers to degrees using the km_to_degrees function
    degrees = km_to_degrees(latitude, kilometers)

    return degrees

def create_grid_map(lat1, lon1, lat2, lon2, grid_size_meter):
    # Convert grid size from meters to degrees
    lat_degrees = meter_to_degrees((lat1 + lat2) / 2, grid_size_meter)
    lon_degrees = meter_to_degrees((lon1 + lon2) / 2, grid_size_meter)

    print(f"lat_degrees: {lat_degrees}, lon_degree: {lon_degrees}")
    # Calculate the number of grid points in latitude and longitude directions
    num_lat = int(np.abs(lat2 - lat1) / np.abs(lat_degrees))
    num_lon = int(np.abs(lon2 - lon1) / np.abs(lon_degrees))
    print(f"lon2 - lon1: {np.abs(lon2 - lon1)}")
    print(f"num_lat: {num_lat}, num_lon: {num_lon}")

    # Calculate the latitude and longitude increments
    # lat_increment = (lat2 - lat1) / num_lat
    # lon_increment = (lon2 - lon1) / num_lon

    # Generate latitude and longitude grid points
    latitudes = np.linspace(lat1, lat2, num_lat)
    longitudes = np.linspace(lon1, lon2, num_lon)

    print(f"the num of latitudes: {len(latitudes)}")
    print(f"the num of longitude: {len(longitudes)}")
    print(longitudes)
    # Create a 2D grid for numbering
    grid_numbers = np.arange(0, (num_lat + 1) * (num_lon + 1)).reshape(num_lat + 1, num_lon + 1)

    # # Plot the grid lines
    # for lat in latitudes:
    #     ax.plot([lon1, lon2], [lat, lat], color='black', linewidth=0.5, transform=ccrs.PlateCarree())
    # for lon in longitudes:
    #     ax.plot([lon, lon], [lat1, lat2], color='black', linewidth=0.5, transform=ccrs.PlateCarree())

    # Plot the numbers on the grid
    # for i in range(num_lat + 1):
    #     for j in range(num_lon + 1):
    #         ax.text(lon1 + j * lon_increment, lat1 + i * lat_increment, str(grid_numbers[i, j]),
    #                 horizontalalignment='center', verticalalignment='center', transform=ccrs.PlateCarree())

    # ax.coastlines()
    # plt.show()

# Example coordinates
lat1, lon1 = 37.0, -122.0  # Lower-left corner
lat2, lon2 = 38.0, -121.0  # Upper-right corner
grid_size_meter = 1000  # Size of each grid in meters

create_grid_map(lat1, lon1, lat2, lon2, grid_size_meter)
print("done")

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs

def km_to_degrees(latitude, kilometers):
    earth_radius_km = 6371.0
    angle_rad = kilometers / earth_radius_km
    angle_deg = np.degrees(angle_rad)
    lat_correction = np.cos(np.radians(latitude))
    adjusted_degrees = angle_deg / lat_correction
    return adjusted_degrees

def meter_to_degrees(latitude, meters):
    kilometers = meters / 1000
    degrees = km_to_degrees(latitude, kilometers)
    return degrees

def find_grid_number(lat, lon, lat1, lon1, lat_degrees, lon_degrees):
    grid_lat = int((lat - lat1) / lat_degrees)
    grid_lon = int((lon - lon1) / lon_degrees)
    return grid_lat, grid_lon

def create_grid_map(lat1, lon1, lat2, lon2, grid_size_meter):
    lat_degrees = meter_to_degrees((lat1 + lat2) / 2, grid_size_meter)
    lon_degrees = meter_to_degrees((lon1 + lon2) / 2, grid_size_meter)

    num_lat = int(np.abs(lat2 - lat1) / lat_degrees)
    num_lon = int(np.abs(lon2 - lon1) / lon_degrees)

    lat_increment = (lat2 - lat1) / num_lat
    lon_increment = (lon2 - lon1) / num_lon

    latitudes = np.linspace(lat1, lat2, num_lat)
    longitudes = np.linspace(lon1, lon2, num_lon)

    fig = plt.figure(figsize=(10, 5))
    ax = fig.add_subplot(1, 1, 1, projection=ccrs.PlateCarree())

    ax.set_global()
    ax.stock_img()

    for lat in latitudes:
        ax.plot([lon1, lon2], [lat, lat], color='black', linewidth=0.5, transform=ccrs.PlateCarree())
    for lon in longitudes:
        ax.plot([lon, lon], [lat1, lat2], color='black', linewidth=0.5, transform=ccrs.PlateCarree())

    for i in range(num_lat + 1):
        for j in range(num_lon + 1):
            ax.text(lon1 + j * lon_increment, lat1 + i * lat_increment, str(i * (num_lon + 1) + j + 1),
                    horizontalalignment='center', verticalalignment='center', transform=ccrs.PlateCarree())

    # Example input coordinates
    input_coordinates = [(37.5, -121.5), (37.3, -122.3), (37.7, -122.7)]
    for lat, lon in input_coordinates:
        grid_lat, grid_lon = find_grid_number(lat, lon, lat1, lon1, lat_degrees, lon_degrees)
        ax.text(lon, lat, f"{grid_lat * (num_lon + 1) + grid_lon + 1} ({grid_lat},{grid_lon})",
                horizontalalignment='center', verticalalignment='center', color='red', fontsize=8, transform=ccrs.PlateCarree())

    ax.coastlines()

    plt.show()

# Example coordinates
lat1, lon1 = 37.0, -122.0  # Lower-left corner
lat2, lon2 = 38.0, -121.0  # Upper-right corner
grid_size_meter = 1000  # Size of each grid in meters

create_grid_map(lat1, lon1, lat2, lon2, grid_size_meter)

In [ ]:
valid_user_list = user_location_df_pre.index
valid_user_list = pd.DataFrame({'valid_user_list':user_location_df_pre.index})

In [ ]:
min_lat = 1000000 
min_lon = 1000000
max_lat = 0
max_lon = 0

X = ['latitude', 'longitude', 'x', 'y']
user_min_df = pd.DataFrame(columns=X)
user_max_df = pd.DataFrame(columns=X)
for user_id in valid_user_list['valid_user_list']:
    # user_id = getUserId(id)
    csv_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
    user0 = pd.read_csv(csv_file)
    min_df = pd.DataFrame(data=user0[X].min()).transpose()
    max_df = pd.DataFrame(data=user0[X].max()).transpose()
    
    user_min_df = pd.concat([user_min_df, min_df])
    user_max_df = pd.concat([user_max_df, max_df])

In [ ]:
print(user_min_df[['x', 'y']].min())
print(user_max_df[['x', 'y']].max())

In [ ]:
df_min = pd.DataFrame(user_min_df.min()).transpose()
df_max = pd.DataFrame(user_min_df.max()).transpose()
df_max_min = pd.DataFrame(user_min_df.max()-user_min_df.min()).transpose()
df_diff = pd.concat([df_min, df_max, df_max_min])
df_diff['label'] = ['min', 'max', 'max-min']

round(df_diff.set_index('label'), 3)

In [ ]:
from convert_minmax_location import LocationPreprocessor
import pandas as pd

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as seaborn

import matplotlib.dates as dates
import datetime as dt

locationPreprocessor = LocationPreprocessor()
user_id = locationPreprocessor.getUserId(1)
csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
user = pd.read_csv(csv_convert_file)

user_df = user[['latitude', 'longitude', 'x', 'y', 'days', 'time']].copy()

idx_list = []
for idx in range(user_df.shape[0]):
    if idx % 60 == 0: # 5 mins
        idx_list += [idx]
len(idx_list)

idx_list_partial = idx_list[-200:]
user_df_1 = user_df.iloc[idx_list_partial, :].copy()

plt.figure(figsize=(60, 12))
axes = plt.axes(projection='3d')
axes.view_init(elev=10, azim=-80)

# axes.scatter3D(user_df_1['days'], user_df_1['x'], user_df_1['y'], s=20)
# axes.plot3D(user_df_1['days'], user_df_1['x'], user_df_1['y'])
axes.scatter3D(user_df_1['days'], user_df_1['latitude'], user_df_1['longitude'], s=20)
axes.plot3D(user_df_1['days'], user_df_1['latitude'], user_df_1['longitude'])

axes.set_xlabel('time')
# axes.set_ylabel('X')
# axes.set_zlabel('Y')
axes.set_ylabel('latitude')
axes.set_zlabel('longitude')

user_df_1.head(5)

In [ ]:
user_df
task_X = user_df.copy()
task_y = task_X.iloc[-5:, -2:].copy()

task_y.iloc[:, :]

In [ ]:
# geopandas: https://datascientyst.com/plot-latitude-longitude-pandas-dataframe-python/
# pip install geopandas
# pip install Shapely

# folium: https://aboutnlp.tistory.com/33

import pandas as pd
from convert_minmax_location import LocationPreprocessor

from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame
import matplotlib.pyplot as plt

import folium
from branca.element import Figure

locationPreprocessor = LocationPreprocessor()

valid_user_list = locationPreprocessor.get_valid_user_list()

fig = Figure(width=550, height=350)
for id in valid_user_list['valid_user_list']:
    print(f"id: {id}")
    user_id = locationPreprocessor.getUserId(id)
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
    user = pd.read_csv(csv_file)
    user_location_list = user[['latitude', 'longitude']].values.tolist()
    center = user_location_list[0]
    
    map = folium.Map(location=center,
                     zoom_start=10)
    fig.add_child(map)
    folium.PolyLine(locations = user_location_list,).add_to(map)
    
    break

In [ ]:
# https://anweh.tistory.com/17

user_id = locationPreprocessor.getUserId(1)
csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
user = pd.read_csv(csv_convert_file)
print(user.head())
user_coords = user[['latitude', 'longitude']].values.tolist()
lat = user['latitude'].mean()
lon = user['longitude'].mean()
center = [lat, lon]

map = folium.Map(location=center,
                    zoom_start=9)
k = 0
for i in range(len(user_coords)):
    if (i % 60) == 0:
        _color = '#' + str(k)
        k += 1
        folium.Circle(
            location = user_coords[i],
            radius = 20,
            # fill_color = 'Reds'
            # color = 'Reds', #'#000000',
            tooltip = user.iloc[i, -2:],
            fill = 'crimson',
        ).add_to(map)
map.save('map.html')

In [ ]:
from convert_minmax_location import LocationPreprocessor
import pandas as pd

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as seaborn

import matplotlib.dates as dates
import datetime as dt

locationPreprocessor = LocationPreprocessor()
user_id = locationPreprocessor.getUserId(29)
csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
user = pd.read_csv(csv_convert_file)
print(user.shape[0])
print(user.head(10))
# user = user.drop_duplicates(subset=['date', 'time'])
user = user.drop_duplicates(subset=['days'])
print(user.shape[0])

In [ ]:
user_df = user[['latitude', 'longitude', 'x', 'y', 'days', 'time']].copy()

idx_list = []
for idx in range(user_df.shape[0]):
    if idx % 120 == 0:
        idx_list += [idx]
len(idx_list)

idx_list_partial = idx_list[-50:]
user_df_1 = user_df.iloc[idx_list_partial, :].copy()
user_df_1.head()

In [ ]:
plt.figure(figsize=(60, 12))
axes = plt.axes(projection='3d')
axes.view_init(elev=10, azim=-80)

axes.scatter3D(user_df_1['days'], user_df_1['x'], user_df_1['y'], s=20)
axes.plot3D(user_df_1['days'], user_df_1['x'], user_df_1['y'])
axes.set_xlabel('time')
axes.set_ylabel('latitude')
axes.set_zlabel('longitude')

In [ ]:
plt.figure(figsize=(60, 12))
axes = plt.axes(projection='3d')
axes.view_init(elev=10, azim=-80)

# axes.scatter3D(user_df_1['days'], user_df_1['x'], user_df_1['y'], s=10)
# axes.plot3D(user_df_1['days'], user_df_1['x'], user_df_1['y'])
axes.scatter3D(user_df_1['days'], user_df_1['latitude'], user_df_1['longitude'], s=10)
axes.plot3D(user_df_1['days'], user_df_1['latitude'], user_df_1['longitude'])
axes.set_xlabel('time')
axes.set_ylabel('latitude')
axes.set_zlabel('longitude')
# axes.set_xticklabels(one_hour['datetime'], rotation=45)

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as seaborn

import matplotlib.dates as dates
import datetime as dt

user_id = locationPreprocessor.getUserId(1)
csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
csv_convert_file = './Data/' + user_id + '/csv/' + user_id + '_converted.csv'
user = pd.read_csv(csv_convert_file)
print(user.head())
user_coords = user[['latitude', 'longitude']].values.tolist()

begin_hour = user_sub.iloc[0, -1]
end_hour = user_sub.iloc[-1, -1]

print('begin_hour:', begin_hour, ', end_hour:', end_hour)
count = 1
while begin_hour <= end_hour:
    condtion = (user_sub['hour'] >= begin_hour) & (user_sub['hour'] <= begin_hour + count)
    one_hour = user_sub.loc[condtion, :]
    begin_hour = begin_hour + count
    if one_hour.shape[0] < 1:
        continue

    plt.figure(figsize=(60, 12))
    axes = plt.axes(projection='3d')
    axes.view_init(elev=10, azim=-80)

    one_hour['time_reg'] = [str(dd.time()) for dd in one_hour['datetime']]
    axes.scatter3D(dates.date2num(one_hour['datetime']), one_hour['latitude'], one_hour['longitude'], s=10)
    axes.plot3D(dates.date2num(one_hour['datetime']), one_hour['latitude'], one_hour['longitude'])
    axes.set_xlabel('time')
    axes.set_ylabel('latitude')
    axes.set_zlabel('longitude')
    axes.set_xticklabels(one_hour['datetime'], rotation=45)

In [ ]:
# location(Latitude, Logitude) 에 대한 최소, 최대값을 구해야 함.

import pandas as pd
import numpy as np

def getUserId(id):
    val = ""
    if id < 10:
        val += "00"
        val += str(id)
    elif id < 100:
        val += "0"
        val += str(id)
    else:
        val = str(id)
    return val

min_lat = 1000000 
min_lon = 1000000
max_lat = 0
max_lon = 0

min_lat_list = []
min_lon_list = []
max_lat_list = []
max_lon_list = []

user_id_list = []
for id in range(182):
    user_id = getUserId(id)
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    df = pd.read_csv(csv_file)
    if df.shape[0] < 500:
        continue

    user0 = df[['days', 'latitude', 'longitude']].copy()
    user_id_list += [user_id]
    min_lat_list += [user0['latitude'].min()]
    max_lat_list += [user0['latitude'].max()]
    min_lon_list += [user0['longitude'].min()]
    max_lon_list += [user0['longitude'].max()]
    
    # if user0['latitude'].min() < min_lat:
    #     min_lat = user0['latitude'].min()
    # if user0['latitude'].max() > max_lat:
    #     max_lat = user0['latitude'].max()
    # if user0['longitude'].min() < min_lon:
    #     min_lon = user0['longitude'].min()
    # if user0['longitude'].max() > max_lon:
    #     max_lon = user0['longitude'].max()

print(f"min_lat: {min_lat}, min_lon: {min_lon}")
print(f"max_lat: {max_lat}, max_lon: {max_lon}")

In [ ]:
user_location_df = pd.DataFrame({'user_id':user_id_list,
                                'min_lat':min_lat_list,
                                'min_lon':min_lon_list,
                                'max_lat':max_lat_list,
                                'max_lon':max_lon_list})
user_location_df.head()

In [ ]:
user_location_df_pre = user_location_df.copy()
user_location_df_pre = user_location_df_pre.set_index('user_id', drop=True).copy()

X = ['min_lat', 'min_lon', 'max_lat', 'max_lon']
q1 = user_location_df_pre[X].quantile(0.25)
q3 = user_location_df_pre[X].quantile(0.75)
iqr = (q3-q1) * 1.5

cond1 = user_location_df_pre[X] >= (q1 - iqr)
# cond2 = user_location_df_pre[X] <= (q3 + iqr)

user_location_df_pre = user_location_df_pre[cond1].dropna().copy()
cond2 = user_location_df_pre[X] <= (q3 + iqr)
user_location_df_pre = user_location_df_pre[cond2].dropna()
valid_user_list = user_location_df_pre.index
print(f'valid user list: {valid_user_list}')

In [ ]:
import os

df = pd.DataFrame({'valid_user_list':valid_user_list})
df.to_csv('valid_user_list.csv', index=False)

In [ ]:
valid_user = pd.read_csv('valid_user_list.csv')
valid_user['valid_user_list']

# location(Latitude, Logitude) 에 대한 최소, 최대값을 구해야 함.

import pandas as pd
import numpy as np

def getUserId(id):
    val = ""
    if id < 10:
        val += "00"
        val += str(id)
    elif id < 100:
        val += "0"
        val += str(id)
    else:
        val = str(id)
    return val

min_lat = 1000000 
min_lon = 1000000
max_lat = 0
max_lon = 0

for id in valid_user['valid_user_list']:
    user_id = getUserId(id)
    csv_file = './Data/' + user_id + '/csv/' + user_id + '.csv'
    user0 = pd.read_csv(csv_file)
    
    if user0['latitude'].min() < min_lat:
        min_lat = user0['latitude'].min()
    if user0['latitude'].max() > max_lat:
        max_lat = user0['latitude'].max()
    if user0['longitude'].min() < min_lon:
        min_lon = user0['longitude'].min()
    if user0['longitude'].max() > max_lon:
        max_lon = user0['longitude'].max()

print(f"min_lat: {min_lat}, min_lon: {min_lon}")
print(f"max_lat: {max_lat}, max_lon: {max_lon}")

In [ ]:
from valid_minmax_location import get_minmax_location

get_minmax_location()

In [ ]:
from valid_minmax_location import LocationPreprocessor

locationPreprocess = LocationPreprocessor()
center_locatuon = locationPreprocess.get_center_location()

earth_radius = 6371000

def convert_coord_for_blender(lat, lon):
    delta_lat = lat - center_locatuon[0]
    delta_lon = lon - center_locatuon[1]
    
    x = delta_lon * earth_radius * (np.pi / 180) * np.cos(lat * (np.pi / 180))
    y = delta_lat * earth_radius * (np.pi / 180)
 
    return x, y

In [ ]:
import numpy as np

def convert_coord_for_blender(self, lat, lon):
    delta_lat = lat - self.center_coord[0]
    delta_lon = lon - self.center_coord[1]

    x = delta_lon * self.earth_radius * (np.pi / 180) * np.cos(lat * (np.pi / 180))
    y = delta_lat * self.earth_radius * (np.pi / 180)
 
    return x, y
 
earth_radius = 6371000
lower_left_coord = [self.config['coords']['lower_left']['lat'], self.config['coords']['lower_left']['lon']]
upper_right_coord = [self.config['coords']['upper_right']['lat'], self.config['coords']['upper_right']['lon']]
center_coord = [
    (self.lower_left_coord[0] + self.upper_right_coord[0]) / 2,
    (self.lower_left_coord[1] + self.upper_right_coord[1]) / 2
]

In [ ]:
import numpy as np

np.array(0).size

In [ ]:
# Dataset 은 샘플과 정답(label)을 저장하고, 
# DataLoader 는 Dataset 을 샘플에 쉽게 접근할 수 있도록 순회 가능한 객체(iterable)로 감쌉니다.
# https://wikidocs.net/156998

import torch
from torch.utils.data import Dataset


class CustomDataset(Dataset):
    def __init__(self):
    # 생성자, 데이터를 전처리하는 부분
        self.x_data = [[73, 80, 75],
                       [93, 99, 95]]
        self.y_data = [[152], 
                       [185]]
    
    def __len__(self):
    # 데이터셋의 총 길이를 반환하는 부분
        return len(self.x_data)
    
    def __getitem__(self, idx):
    # idx 에 해당하는 입출력 데이터를 반환한다.
        x = torch.FloatTensor(self.x_data[idx])
        y = torch.FloatTensor(self.y_data[idx])
        return x, y
    
customData = CustomDataset()
customData.__getitem__(1)

In [ ]:
import os
import pandas as pd

index = 10
data_dir = 'Data/'
csv_dir = 'csv/'
csv_extension = '.csv'
user_path_list = os.listdir(data_dir)
csv_path = os.path.join(data_dir, user_path_list[index], csv_dir)
user_file = csv_path + user_path_list[index] + '.csv'
df = pd.read_csv(user_file)
df[["days","latitude", "longitude"]].head(20)

In [ ]:
import os
import pandas as pd
import numpy as np
import random
from torch.utils.data import Dataset

# Data folder 중 숫자가 안되는 User folder는 삭제하고
# 남은 User data에서 train-test 폴더로 나눈 후
# train_set(dataset), test_set(dataset) 으로 진행 필요

class GeoLifeDataSet(Dataset):
    def __init__(self, data_dir, user_list, samples_s, samples_q, length, y_timestep):
        self.data_dir   = data_dir
        self.csv_dir    = 'csv/'
        self.user_list  = user_list
        # user_list: all user
        self.samples_s  = samples_s
        # samples_s: the number of support set
        self.samples_q  = samples_q
        # samples_q: the number of query set
        self.length     = length 
        # length: the length of mini batch of a user
        self.y_timestep = y_timestep
        # y_time_step: the next time step to be predicted
        #              it must be less than length
    
    def sampleTime(self, dataset):
        cur_ds = dataset.copy()
        minibatch = []
        
        max_len = len(cur_ds)
        ###############################################
        # MAke sure samples from query and support 
        # do not intersect
        ##############################################
        # total_data_slice -> lenght 만큼 나눴을 때 총 slice 갯수
        total_data_slice = list(range(int(max_len/self.length)))
        total_samps = self.samples_q + self.samples_s
        
        slice_point = int(len(total_data_slice)*(self.samples_s/total_samps))
        # print(f"slice_point: {slice_point}")

        s_s_list = total_data_slice[:slice_point]
        q_s_list = total_data_slice[slice_point:]

        replace = False
        if total_samps > len(total_data_slice):
            replace = True

        s_s_list = np.random.choice(s_s_list, size=self.samples_s, replace=replace)
        q_s_list = np.random.choice(q_s_list, size=self.samples_q, replace=replace)
        
        # print(f"s_list:{s_s_list}")
        # print(f"q_list:{q_s_list}")
        choice_list = np.concatenate([s_s_list, q_s_list])
        # #################################################
        # print(f"choice_list: {choice_list}")
        
        for idx in choice_list:
            start_idx = idx * self.length
            if max_len - self.length >= 0:
                cur_sample = cur_ds.iloc[start_idx:(start_idx + self.length), :]
                minibatch.append(cur_sample)
            else:
                fill_quota  = np.abs(self.length - max_len)
                zeros_r     = np.zeros([fill_quota, cur_ds.shape[1]])
                cur_sample  = cur_ds[:, :]
                cur_sample  = np.concatenate([zeros_r, cur_sample], axis = 0)
                minibatch.append(cur_sample)
        return np.array(minibatch)
        
    def __getitem__(self, index):
        csv_path = os.path.join(self.data_dir, self.user_list[index], self.csv_dir)
        user_file = csv_path + self.user_list[index] + '.csv'
        df = pd.read_csv(user_file)
        df = df[['days','latitude', 'longitude']]

        samples = self.sampleTime(df)
        # print(f"mini_batch: {samples.shape}")
        # mini_batch: (5, 10, 3)
        
        sup_x = np.array(samples[:self.samples_s, :-self.y_timestep, :])
        sup_y = np.array(samples[:self.samples_s, -self.y_timestep:, -2:])
        que_x = np.array(samples[self.samples_s:, :-self.y_timestep, :])
        que_y = np.array(samples[self.samples_s:, -self.y_timestep:, -2:])

        return (que_x, sup_x, sup_y), que_y
    
    def __len__(self):
        # batch를 구성할 수 있는 총 수
        # 이 수에서 batch를 조정할 수 있다.
        # 몇 명의 user 로 나눠서 할 지
        return len(self.user_list)

user_list = os.listdir(data_dir)
random.shuffle(user_list)
train_size = 0.1
train_list = user_list[:(int)(len(user_list)*train_size)]
print(f"train_list: {len(train_list)}")

# dataset = GeoLifeDataSet("Data/", [0, 1, 2, 3], 5, 2, 100, 10)
# dataset.__getitem__(0)

In [ ]:
from torch.utils.data import DataLoader

data_dir = "Data/"#"data/geolife/Data/"
sample_s = 5
sample_q = 3
length = 100
y_timestep = 10

user_list = os.listdir(data_dir)
random.shuffle(user_list)
train_size = 0.1
train_list = user_list[:(int)(len(user_list)*train_size)]
test_list  = user_list[(int)(len(user_list)*train_size):]
print(f"train_list: {len(train_list)}")

training_data = GeoLifeDataSet(data_dir, train_list, sample_s, sample_q, length, y_timestep)
test_data = GeoLifeDataSet(data_dir, train_list, sample_s, sample_q, length, y_timestep)

train_dataloader = DataLoader(training_data, batch_size=1, shuffle=False)
test_dataloader  = DataLoader(test_data, batch_size=1, shuffle=False)

train_x, train_y = next(iter(train_dataloader))
print(f"support_x: {train_x[0].shape}")
print(f"support_y: {train_x[1].shape}")
print(f"query_x: {train_x[2].shape}")
print(f"query_y: {train_y.shape}")

In [ ]:
shape = [1, 2, 3, 4, 5]
shape[:-2] + [-1] + [2]

In [ ]:
        # input is TASKS x SAMPLES x FEATURES x TIME x Latent vector
        shape = torch._shape_as_tensor(inp)
        # (3, 20, 6, 100, 1)
        x = torch.reshape(inp, [-1, shape[-2], shape[-1]])
        # (300, 100, 1)
        x, f = self.gru(x)
        # x:(300, 100, 32)
        # f:(3, 100, 32)
        
        if self.final:
            new_shape = shape[:-2].tolist() + [-1]
            out = torch.reshape(f, new_shape)
        else:
            new_shape = shape[:-1].tolist() + [-1]
            # (3, 20, 6, 100, -1)
            out = torch.reshape(x, new_shape)
            # (3, 20, 6, 100, 32)
        return out

In [ ]:
# DataLoader
from torch.utils.data import DataLoader

dataloader = DataLoader(
    dataset,
    batch_size = 2,
    shuffle = True,
)

In [ ]:
import pandas as pd
import numpy as np
import torch

from sklearn.cluster import KMeans

df = pd.read_csv('Data/000/csv/000.csv')
df.head(1)

In [ ]:
import pandas as pd
import numpy as np
import torch

from sklearn.cluster import KMeans

df = pd.read_csv('Data/001/csv/001.csv')
df.head(5)

In [ ]:
import pandas as pd
import numpy as np
import torch

from sklearn.cluster import KMeans

df = pd.read_csv('Data/000/csv/000.csv')
df.head(1)
df_temp = df[['latitude', 'longitude']].copy()

model = KMeans(n_clusters=100, random_state=123)
model.fit(df_temp)

In [ ]:
df_temp['label'] = model.labels_
df_temp['label'].value_counts()